<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compartible" content="ie=edge" />
        <title>Email</title>
    </head>
    <body>

        <h1>Desde Node js, recibes este email..!</h1>
        <p>;v</p>

    </body>
</html>